*.log
.env

/public/storage
/storage/*.key
/storage/*.log
/storage/*.sqlite
/storage/*.sqlite3
/storage/app/public
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
.phpunit.result.cache
Homestead.yaml
Homestead.json
.env.backup
.env.testing
.env.local
.env.*.local
.phpunit.result.cache
.phpunit-watcher.yml
.phpunit-watcher.xml
.phpunit-watcher.php
.phpunit-watcher.cache
.phpunit-watcher.result.cache

